* {
  box-sizing: border-box;
}

:root {
  --white: 255, 253, 247;
  --black: 34, 34, 34;
  --li-green: 229, 253, 234;
  --li-yellow: 252, 253, 214;
  --li-blue: 229, 249, 254;
  --li-purple: 252, 241, 254;
  --bg-modal: 33, 37, 41;
  --box-shadow: 102, 102, 102;
  --heart-emoji: 255, 62, 47;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--white));
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(var(--black));
}

/* typography */

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

ul {
  list-style: none;
  padding: 5px 0 0 0;
}

li {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 22px;
}

.li-green {
  background-color: rgb(var(--li-green));
}
.li-yellow {
  background-color: rgb(var(--li-yellow));
}
.li-blue {
  background-color: rgb(var(--li-blue));
}
.li-pink {
  background-color: rgb(var(--li-purple));
}

/* layout */

img {
  width: 100%;
}

main {
  width: 400px;
  margin: 0 auto;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: none;
  height: 470px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px var(--box-shadow);
  background-color: rgb(var(--bg-modal));
  color: rgb(var(--white));
}

.modal-inner {
  width: 290px;
  margin: 0 auto;
}

.modal-inner-loading {
  text-align: center;
}

/* modal buttons */

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgb(var(--white));
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: rgb(var(--heart-emoji));
  cursor: pointer;
}

.modal-close-btn:disabled {
  color: rgb(var(--white));
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.modal-btn {
  padding: 10px 24px;
  cursor: pointer;
}

/* modal input */

input {
  margin-top: 10px;
  border: 1px solid var(--bg-modal);
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

/* modal after submit */

.loading {
  width: 100%;
  margin-top: 10px;
}

.modal-display-name {
  color: fuchsia;
}

.modal-text {
  height: 140px;
  line-height: 23px;
  margin-bottom: 0;
}

/* Modal Form */

.btn-container {
  display: flex;
  justify-content: space-between;
}

.modal-form {
  margin-top: 1rem;
}

.modal label {
  font-weight: 600;
}

.modal input {
  margin: 0.25rem 0 1rem;
}

.modal input:last-of-type {
  margin: 0.25rem 0 1.5rem;
}

.modal-btn {
  border: none;
  background-color: rgb(var(--heart-emoji));
  border-radius: 3px;
  color: rgb(var(--white));
  font-weight: 800;
  padding: 0.5em 1.5em;
  transition:
    transform 0.5s ease,
    box-shadow 0.2s ease;
}

#modal-decline-btn {
  background-color: rgb(var(--white));
  color: rgb(var(--heart-emoji));
}

.modal-btn:hover,
.modal-btn:focus {
  transform: scale(1.05);
  box-shadow: 0 1px 8px rgba(var(--heart-emoji), 0.8);
  outline: none;
}

#modal-decline-btn:hover,
#modal-decline-btn:focus {
  box-shadow: 0 1px 8px rgba(var(--white), 0.8);
  background-color: rgb(var(--white));
  color: rgb(var(--heart-emoji));
}
